* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fondo {
  border: 0.2em solid red;
  background-image: url(../img/wood.jpg);
  background-position: center center;
  background-repeat: repeat-y;
  width: 100vw;
  height: 100%;
  background-size: cover;
}

/* COLOR DE FONDO DEL MENU */

.collapse, .navbar-header {
  background-color: #5B0A13;
}

a {
  color: white;
  font-weight: bold;
}

.img-food-png {
  width: 10em;
  margin-left: 1em;
  padding-top: 0.5em;
}

/* EDICION DROPDOWN */

.text {
  padding-top: 5em;
  text-align: center;
  color: #5B0A13;
  font-weight: bold;
}

.text h3 {
  font-family: 'Anton', sans-serif;
}

.text h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.botonera button {
  border-radius: 1em;
  background-color: #5B0A13;
}

.botonera button, li {
  color: #FFF;
  /*border: 0.2em solid blue;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
}

.botonera li>a {
  font-size: 1.5em;
}

.fa-search {
  margin-right: 0.5em;
}

/* MAPA RESPONSIVE*/

.map {}

.google-maps {
  position: relative;
  padding-bottom: 55%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  border-radius: 1em;
}

.google-maps iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

/* IMAGENES */

.img-pizza {
  width: 100%;
  height: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.galery-food {
  padding-bottom: 2em;
}

.cont-modal {
  padding-top: 1em;
  text-align: center;
  color: #5B0A13;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
}

.cont-modal p {
  /* border: 0.3em solid green; */
}

.modal-title {
  font-family: 'Anton', sans-serif;
  color: #5B0A13;
}

footer p, a {
  color: #FFF;
  background-color: #5B0A13;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}
