/* #splash {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.fondo {
  /*border: 0.2em solid red;*/
  background-image: url(../images/wood.jpg);
  /*height: 100vh;*/
  background-position: center center;
  background-repeat: repeat-y;
  width: 100vw;
  background-size: cover;
}

/* COLOR DE FONDO DEL MENU */

.collapse, .navbar-header {
  background-color: #5B0A13;
}

a {
  color: white;
  font-weight: bold;
}

.img-food-png {
  width: 10em;
  margin-left: 1em;
  padding-top: 0.5em;
}

/* MAPA RESPONSIVE*/

.map {
  padding-top: 4.7em;
}

.google-maps {
  position: relative;
  padding-bottom: 55%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  border-radius: 1em;
}

.google-maps iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

/*
.map {
  padding: 0;
  margin-top: 5em;
  text-align: center;
  border: 0.2em solid white;
  border-radius: 0.7em;
}*/

/* EDICION DROPDOWN */

.text {
  text-align: center;
  color: #5B0A13;
  font-weight: bold;
}

.text h3 {
  font-family: 'Anton', sans-serif;
}

.text h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.select {
  display: inline-block;
}

.btn-pizza, .btn-hamburguesa, .btn-completo, .btn-todo {
  background-color: #5B0A13;
  color: #FFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.btn-pizza:hover, .btn-hamburguesa:hover, .btn-completo:hover, .btn-todo:hover {
   background-color: #FFF;
   color:#5B0A13;
}

.btn {
  font-size: 20px !important;
}
/* IMAGENES */
.img-food {
width: 100%;
/* height: 50%; */
border-top-right-radius: 1em;
border-top-left-radius: 1em;
}

.character {
  padding-top: 2em;
}

.direccion {
  padding-bottom: 3em;
}

/* .completos {
  background-color: blue;
  padding: 3em;
} */

.img-food1, .img-food2, .img-food3, .img-food4, .img-food5 {
  /*margin-top: 1em;*/
  /*border: 0.2em solid red;*/
  /*width: 100vw;*/
  width: 100%;
  height: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-food1 {
  margin-top: 1em;
  background-image: url(../images/completo/completo1.jpg);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.img-food2 {
  background-image: url(../images/hamburguesa/hamburguesa1.jpg);
}

.img-food3 {
  background-image: url(../images/pizza/pizza1.jpg);
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-bottom: 1em;
}

footer p, a {
  color: #FFF;
  background-color: #5B0A13;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}
